In [1]:
import pandas as pd
from IPython import display

In [ ]:
order_data = pd.read_csv("../notebooks/output_data/order_data.csv")
order_data.head()

In [ ]:
from ipywidgets import Dropdown

def order_by_store(val):
    display.clear_output()
    display.display(dropdown)
    pick_data = order_data.loc[(order_data["store_name"]==val["new"]) & (order_data["status"].isin([1,2]))]
    display.display(pick_data.head())

store_list = order_data["store_name"].tolist()
dropdown = Dropdown(options=store_list)
dropdown.observe(order_by_store, names="value")
display.display(dropdown)

In [7]:
order_data = pd.read_csv("../notebooks/output_data/order_data.csv")
order_data.head()

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name
0,16514392,64,C44271355,49,56527968,2020-06-01 11:00:00,2020-06-01 11:55:00,0,2732,2,西東京店,TK,東京,東京,デリバリー,お渡し済
1,28342394,12,C98307866,98,46924304,2020-06-01 11:00:00,2020-06-01 11:52:00,0,2064,2,西葛西店,TK,東京,東京,デリバリー,お渡し済
2,29799587,174,C59484037,45,47054474,2020-06-01 11:00:00,2020-06-01 11:25:00,0,3900,2,新座店,SA,埼玉,埼玉,デリバリー,お渡し済
3,96960753,23,C57278332,70,60848267,2020-06-01 11:00:00,2020-06-01 11:45:00,0,2750,2,江東店,TK,東京,東京,デリバリー,お渡し済
4,52147209,7,C36890849,80,20633593,2020-06-01 11:00:00,2020-06-01 11:23:00,0,2328,2,東尾久店,TK,東京,東京,デリバリー,お渡し済

In [11]:
from ipywidgets import Dropdown

def order_by_store(val):
    display.clear_output()
    display.display(dropdown)
    pick_data = order_data.loc[(order_data["store_name"]==val["new"]) & (order_data["status"].isin([1,2]))]
    display.display(pick_data.head())

store_list = order_data["store_name"].tolist()
dropdown = Dropdown(options=store_list)
dropdown.observe(order_by_store, names="value")
display.display(dropdown)

Dropdown(options=('西東京店', '西葛西店', '新座店', '江東店', '東尾久店', '久喜店', '江東店', '上野店', '高津店', '君津店', '宇都宮店', '西多摩店', '大宮…